<%= link_to 'Create a new book', '/books/new' %> |
<%= link_to 'See the list of authors', '/authors' %> |
<%= link_to 'See the list of owners', '/owners' %>
<h2>All books</h2>
<% if books.any? %>
  <div id="books">
    <% books.each do |book| %>
      <div class="book">
        <h2><%= book.title %></h2>
        <p><%= AuthorRepository.new.find_with_books(book.author_id).name %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>
