<%= link_to 'See the list of books', '/books' %> |
<%= link_to 'See the list of authors', '/authors' %> |
<%= link_to 'See the list of owners', '/owners' %> |
<%= link_to 'Create a new book', '/books/new' %>
<h2>All Owners</h2>

<% if owners.any? %>
  <div id="owners">
    <% owners.each do |owner| %>
      <div class="owner">
      <%= owner.name %>
      <%= BookRepository.new.group_by(owner.id) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no owners yet.</p>
<% end %>


<%= link_to 'Back', '/books' %>
